USE [dbSisSodIna]
GO
/****** Object:  StoredProcedure [dbo].[p_InventarioCantidad]    Script Date: 29/02/2016 10:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[p_InventarioCantidad]

as

select * from v_InventarioCantidad


